@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900');

*{margin:0; padding:0;}
body{font-family: 'Open Sans', sans-serif;}
a{-webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease;}
ul, ol{list-style:none;}
img{max-width:100%;}
h1, h2, h3, h4, h5, h6{ font-family: 'Poppins', sans-serif;}
h1{font-size:42px; font-weight:bold; color:#000; text-align:center; margin-bottom:60px; position:relative; text-transform:uppercase;}
h1:before{content:""; background:url(../images/underline.png) no-repeat; width:70px; height:8px; position:absolute; bottom:-22px; left:50%; margin-left:-40px;}
h1 span{color:#fdc236;}
p{font-size:14px; line-height:24px; color:#333;}






.topbar-wrap {
    line-height: 14px;
    background-color: #000000;
}


.topbar-wrap .phone-number {
    color: #fff;
    font-size: 14px;
    line-height: 18px;
}
.header-top-info{padding-top:18px;}
.topbar-wrap .phone-number a{color:#fff;}
.topbar-wrap .phone{display:inline-block; margin-right:20px;}
.topbar-wrap .phone i{padding-right:10px; color:#fff;}
.top-menu{text-align:right; margin-bottom:0;}
.top-menu li{display: inline-block; position: relative;}
.top-menu li a{font-size:18px; color:#fff; padding: 18px 20px; border-left: solid 1px rgba(255,255,255,.1); display:block; text-decoration:none;}
.topbar-wrap .fa-sign-in{padding-right:10px; font-size:16px;}
.top-menu li:last-child a{border-right: solid 1px rgba(255,255,255,.1);}
.topbar-wrap .login-button{font-size:16px;}



.header{background:#e8e8e8;}
.logo{padding:10px 0px 5px 0px;}
.navbar-nav li{padding:0 18px;}
.navbar-nav li:last-child{padding-right:0;}
.navbar{float: right; margin-top:20px;}
.mr-auto, .mx-auto{margin-right:inherit !important;}
.navbar-brand{display:none;}
.navbar-default .navbar-nav>li:last-child{float:right; padding:0; margin-top:0; margin-left: 16px;}
.navbar-expand-lg .navbar-nav .nav-link{padding:0; color:#000;}
.navbar-expand-lg .navbar-nav .nav-link:hover{color: #2842cd;}
.header .col-md-9{padding-left:0;}
.navbar-collapse{padding-right:0;}
.sticky-wrapper .custom-navbar{width:100%; z-index:10000; -webkit-box-shadow: 0 2px 4px rgba(3,3,3,.11);
    -moz-box-shadow: 0 2px 4px rgba(3,3,3,.11);
    box-shadow: 0 2px 4px rgba(3,3,3,.11);}



.slider-wrap{background:url(../images/banner.jpg) no-repeat top; background-size:cover; padding:160px 0;}
.sliderTxt h1{font-size:60px; color:#000; font-weight:600; padding:0; margin:0; text-align:center}
.sliderTxt h1:before{display:none;}
.sliderTxt p{font-size:24px; text-align: center; line-height:24px; margin:0 auto; color:#000; padding:5px 0;font-weight:300; max-width:780px;}
.form-wrap{width:820px; margin:0 auto; margin-top:15px; border-radius:5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border: solid 12px rgba(255,255,255,.27);}
.input-group .form-control{border:none; font-size: 14px; border-radius:0px !important; height: 60px; position:relative; padding-left: 34px;}
.input-group .dropdown{height: 60px; width:100%; border: none; padding: 6px 12px; font-size: 14px; line-height: 1.42857143; color: #555; background-color: #fff; background-image: none;}
.input-btn{text-align:right;}	
.sbutn{background: #4361ff; border: none; cursor: pointer; padding: 18px 68px; text-transform: uppercase; font-size: 17px; color: #fff; border-radius:0px 5px  5px 0; font-weight: bold;}
.sbutn:hover{background:#333;}
.slider-wrap .input-group{border-right: 1px solid #ccc; width:100%;}
.form-wrap .col-lg-3{padding:0;}
.formWrp{padding:60px 0;}
.map-wrap iframe{margin-bottom:-5px;}

.input_icon{position:absolute; top: 19px; color: #bbb;
    left: 12px;
    z-index: 99;
    font-size: 16px;}

.videoWrp{background:none; position:relative; padding:0; height:400px;}
.hero-wrapper{height:400px; min-width: 100%; position: absolute; top:0px; left:0; width:100%;}
.video{position:relative;}
.hero-wrapper:before {content: ''; position: absolute; top: -60px; z-index: -1; width: 100%; height: 100%; background: rgba(0,0,0,0.5);}
.hero-image {width: 100%; height: 100%; overflow: hidden; z-index: -1; top: 0; background-position: center center; background-size: cover;}
.hero-image #bgvid { display: block; min-height: 100%; min-width: 100%; max-width: inherit;}
.videohover{position:absolute; top:60px; left:0; width:100%; z-index:1000;}
.videoWrp .sliderTxt{padding-top: 210px;}
.video .sliderTxt, .video .sliderTxt p, .video .sliderTxt h1{text-align: left;}
.video .sliderTxt p{max-width: inherit; padding: 0;}

.video h3{color: #fff;}
.video .formwrap { max-width: 400px; background: rgba(40, 66, 205, 0.91); width:350px;
padding: 30px;     border: 1px solid #fff; position: absolute; bottom: -50px; right:
0; z-index: 1000; } 
.videoFormWrp{position: relative;}
.video .btn{width: 100%;
    background: #ffed00;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px; cursor:pointer;
    padding: 12px 0;}

.video .form-control{border-radius: 0; border: none; font-size: 13px; font-family: 'Poppins', sans-serif; height:44px;}
.video .btn:hover{background-color: #000; color: #fff;}
.videoFormWrp h3{text-align:center;}




.searchbar{background:url(../images/search-bg.jpg) no-repeat; background-size: cover; padding: 50px 0;}
.searchbar .sbutn{background: #333;}
.searchbar .sbutn:hover{background: #ffed00; color: #333;}


.tp-banner-container {position: relative; z-index: 1; padding: 0; width: 100%;}
.tp-banner {position: relative;	width: 100%;}
.tp-caption {line-height:normal !important}
.tp-caption a {	color: inherit !important;}
.tp-bullets.simplebullets.round .bullet {border: 3px #fff solid; border-radius: 50%; background-image: none !important;}
.tparrows {width: auto !important; height: auto !important; background-image: none !important;}
.tp-arr-allwrapper {margin: 0 10px; width: 50px; height: 60px; background: rgba(255,255,255,0.5);}
.tp-arr-allwrapper:hover .tp-arr-iwrapper {color: #fff;}
.tp-leftarrow .tp-arr-allwrapper {}
.tp-rightarrow .tp-arr-allwrapper {}
.tp-arr-iwrapper {color: #000; text-align: center; font-size: 30px; font-family: FontAwesome; line-height: 60px;}
.tp-leftarrow .tp-arr-iwrapper {}
.tp-leftarrow .tp-arr-iwrapper:before {content: "\f104";}
.tp-rightarrow .tp-arr-iwrapper:before {content: "\f105";}
.tp-rightarrow .tp-arr-iwrapper {}
.slide-h1 {margin: 5px 0 !important; padding: 0 0 10px !important; padding-bottom: 5px !important; color: #444; text-transform: uppercase; font-weight: bold; font-size: 57px; }
.slide-h2 {margin: 5px 0 !important; padding: 0 0 10px !important; padding-bottom: 5px !important; color: #555; font-weight: bold; font-size: 55px; line-height: 100%;}
.big-font {text-transform: uppercase; font-weight: 800; font-size: 60px;}
.large-desc {font-size: 16px;}
.slide-h3 {color: #fff;	font-size: 31px; line-height: 100%;}
.slide-h3 span {text-transform: uppercase; font-weight: bold;}
.slide-head {text-transform: uppercase; font-weight: 900; font-size: 30px;}
.slide-desc {font-size: 22px; line-height: 150%;}
.main-title {text-transform: uppercase; font-weight: 800; font-size: 70px;}
.icon-cont {padding: 15px 40px;	border-radius: 10px; text-align: center;}
.icon-cont:after {position: absolute; bottom: -10px; left: 40%; z-index: 5;	display: inline-block;	width: 0; height: 0; border-width: 10px 10px 0 10px; border-style: solid; content: "";}
.icon-cont i {margin-bottom: 10px; color: #fff; font-size: 50px;}
.icon-cont span {display: block; padding: 0 0 5px; color: #fff; text-align: center; font-size: 18px;}
a.wit-btn {background: #fff; color: #333 !important; text-transform: uppercase;}
.wit-line {width: 5%; height: 1px; background: #fff;}
.vert-line {min-height: 270px; width: 1px; background: #fff;}
.subTxt {text-transform: uppercase; font-weight: bold; font-size: 17px; color: #333;}
.large-title {color: #222; font-size: 60px;	font-weight: 800; text-transform: uppercase !important;}
.large-light-title {color: #787878 !important;	font-size: 70px; font-weight: lighter; text-transform: uppercase; letter-spacing:2px}
.large-text {font-size: 20px; color: #000; font-weight: lighter;}
.larger-text {font-size: 24px; font-weight: lighter; text-transform: uppercase;}
.witTxt {color: #fff !important;}
.light-font {font-weight: lighter !important; font-size: 50px;}
.black-bg{background:rgba(0,0,0,.63); color:#a8a8a8; text-transform:none;}
.lft-list {padding: 10px; font-size: 18px; color: #fff;}
.wit-border {border: 1px #fff solid; padding: 15px 60px; color: #fff; font-size: 16px; text-transform: uppercase;}
.rounded-bord {margin-right: 15px;  border: 1px #fff solid; width: 30px; height: 30px; text-align: center; line-height: 30px; font-size: 13px; border-radius: 50%;}
#vertical-ticker{height:120px; overflow:hidden;}
#vertical-ticker li{padding:15px 20px; display:block; text-align:center;}
.to-bottom i.fa{font-size: 30px; border:2px #a8a8a8 solid; 	padding:20px 22px; border-radius:50%; -webkit-animation: bounce 2s infinite linear;	animation: bounce 2s infinite linear;}
.slidertext1{color:#fff; font-size:36px; font-weight:normal; text-transform:none !important; text-align:left; z-index:10000; text-shadow: 0 0 1px rgba(24,24,24,.75); font-family: 'Poppins', sans-serif; margin-left:60px;}
.slidertext2{color:#fff; font-size:72px !important; font-weight:700; text-transform:uppercase !important; text-align:left; z-index:10000; text-shadow: 0 0 1px rgba(24,24,24,.75); font-family: 'Poppins', sans-serif; margin-left:60px;}
.slidertext3{color:#fff; font-size:18px !important; font-weight:600; text-transform:none !important; z-index:10000; margin-left:60px; text-align:center;}
.slidertext3 span{display:block; font-size:18px !important;}
.slidertext4 a{color:#000 !important; font-size:18px !important; font-weight:700; padding: 16px 42px !important; border-radius: 36px; text-transform:uppercase !important; text-align:left; background:#fff; z-index:10000;}
.slidertext4 a:hover{background:#2842cd; color: #fff !important;}
.tp-bannertimer{display:none;}

@-webkit-keyframes bounce {
	0% {
		transform:translateY(0%);
	}
	50% {
		transform:translateY(-30%);
	}
	100% {
		transform:translateY(0);
	}
}

/* Mozilla Firefox 15 below */
@-moz-keyframes bounce {
  0% {
		transform:translateY(0%);
	}
	50% {
		transform:translateY(-30%);
	}
	100% {
		transform:translateY(0);
	}
}

/* Opera 12.0 */
@-o-keyframes bounce {
    0% {
		transform:translateY(0%);
	}
	50% {
		transform:translateY(-30%);
	}
	100% {
		transform:translateY(0);
	}
}

/* W3, Opera 12+, Firefox 16+ */
@keyframes bounce {
	0% {
		transform:translateY(0%);
	}
	50% {
		transform:translateY(-30%);
	}
	100% {
		transform:translateY(0);
	}
}

.get-bestoffer{padding:60px 0 0 0;}
.title h1{text-align:center; font-weight:400; text-transform:uppercase; font-size:42px;}
.title h1 span{font-weight:bold; color:#2842cd;}
.offer-icon{font-size: 18px;
    background: #2842cd;
    color: #fff;
    width: 50px;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 50px;}
    .feature-wrap .col-lg-4{padding-left: 4px;}
    .tabs{background: #fff;}
.offer-details h3{margin-top:0; font-weight: normal; font-size: 20px;}
.carWrp{margin-top:40px;}
.get-bestoffer .offerTxt{font-size: 14px; line-height: 24px; text-align: center; padding: 0 120px;}
.car_Wrp01 .row{display:block;}
.car_Wrp01 .col-lg-4{display:inline-block;}

.feature-wrap{background: #f2f6f7; padding: 60px 0;}
.feature-wrap .short-description-1 {
    background: #fff none repeat scroll 0 0;
    padding: 30px 20px 15px;
    position: relative;
    overflow: hidden;
}

.feature-wrap h3 a{font-size: 20px; text-decoration: none; color: #000;}
.feature-wrap .tabs .col-lg-3{padding-right: 0;}
.feature-wrap .tabs .col-lg-9{padding-left: 0;}
#tab-button {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
#tab-button li {border-bottom: 1px solid #fff;
}
#tab-button li a {
  display: block;
  padding: 18px 12px;
  background: #eee;
  color: #000; font-size: 16px;
  text-decoration: none;
  border-left: 5px solid #32434d;
}
#tab-button li a span{font-weight: bold;}
.tabsInfo{padding: 20px 20px 20px 0;}
#tab-button li a:hover,
#tab-button .is-active a {  border-left: 5px solid #2842cd;
  border-bottom-color: transparent; color: #2842cd;
  background: #fff;
}
.bookNow{text-align: right;}
.bookNow a{text-decoration: none; font-size: 14px; text-transform: uppercase; background: #2842cd; color: #fff; padding: 12px 28px; font-weight: bold; display: inline-block;}
.bookNow a:hover{background: #000;}
.bookNow i{padding-right: 10px; font-size: 18px;}
.tab-contents {
  border: 1px solid #ddd; border-left: none;
}
.tabsInfo h2{color: #2842cd; font-size: 26px; font-weight: bold;}
.tabsInfo h2 span{font-size: 18px; color: #333; font-weight: normal;}
.carInfo li:first-child{border-top: 1px solid #dadada;}
.carInfo li{font-size: 14px; color: #000; font-weight: bold; position: relative; border-bottom: 1px solid #dadada; padding-top: 9px; padding-bottom: 9px;}
.carInfo li span{position: absolute; top: 7px; right: 0; font-weight: normal;}
.carInfo li:before{border-top: 1px solid #dadada;}

.tab-button-outer {
  display: none;
}
.tab-contents {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .tab-button-outer {
    position: relative;
    z-index: 2;
    display: block;
  }
  .tab-select-outer {
    display: none;
  }
  .tab-contents {
    position: relative;
    top: -1px;
    margin-top: 0;
  }
}

.video-wrap{background:url(../images/video-bg.jpg) no-repeat top; background-size:cover; padding:70px 0;}
.video-wrap p{font-size:24px; color:#fff; line-height:36px; text-align:center; padding:0 100px;}

.playbtn {text-align:center; margin-top:80px; position:relative;}
.playbtn:before{content:""; background:#fff; width:600px; height:2px; position:absolute; top:50%; left:50%; margin-left:-300px;}
.playbtn a {
    box-sizing: content-box;
    display: inline-block;
    width: 32px;
    height: 44px;
    background: #fff;
    border-radius: 50%;
    padding: 18px 20px 18px 28px;
    position: relative;
}
.playbtn a:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #fff;
    border-radius: 50%;
    -webkit-animation: pulse-border 1500ms ease-out infinite;
    animation: pulse-border 1500ms ease-out infinite;
}
.playbtn a span {
    display: inline-block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 32px solid #fb5c22;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
}
.playbtn a:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    -webkit-transition: all 200ms;
    transition: all 200ms;
}

@-webkit-keyframes pulse-border {
 0% {
 -webkit-transform:translateX(-50%) translateY(-50%) translateZ(0) scale(1);
 transform:translateX(-50%) translateY(-50%) translateZ(0) scale(1);
 opacity:1;
}
 100% {
 -webkit-transform:translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
 transform:translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
 opacity:0;
}
}
 @keyframes pulse-border {
 0% {
 -webkit-transform:translateX(-50%) translateY(-50%) translateZ(0) scale(1);
 transform:translateX(-50%) translateY(-50%) translateZ(0) scale(1);
 opacity:1;
}
 100% {
 -webkit-transform:translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
 transform:translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
 opacity:0;
}

 }

.service-wrap{padding:60px 0; background:url(../images/service-bg.jpg) no-repeat; background-size:cover;}
.service-wrap h3{margin-top:0; min-height: 52px;}
.service-wrap h3 a{font-size:22px; text-decoration:none; color:#000;}
.service-wrap h3 a:hover{color:#fdc236;}
.service-wrap h1{margin-bottom:30px; margin-top:0;}
.service-wrap h1:before{background:url(../images/underline.png) no-repeat;}
.service-details{background:#fff; padding:15px 15px 25px 15px;}
.service-details h3{margin-top:10px;}
.readmore a{position:relative; vertical-align: middle; z-index:1000; background:#fdc236; color:#fff !important; text-shadow: 0 0 2px rgba(0, 0, 0, 0.07); text-decoration:none; font-size:16px; text-transform:uppercase; font-weight:bold; padding:12px 30px; display:inline-block;}
.readmore a:hover{color:#fff !important; background:#000;}
.single-service{border:1px solid #eee; padding:25px; background:#fff; min-height:244px;}
.service-icon{font-size:44px; background:#fff; border:1px solid #eee; width:80px; height:80px; text-align:center; line-height:80px; margin-top:-46px; float:left; margin-right:15px;}
.service-wrap p{margin-top:8px;}

.serviceList li{margin-top:60px;}

.porfolio-wrap{padding:60px 0;}
.porfolio-wrap h1{margin-bottom:30px; margin-top:0;}
.portfolio-service li{margin-top:30px;}
.project-image{position:relative; overflow:hidden; display: inline-block; text-align:center;}
.porfolio-wrap h3 a{text-decoration:none; color:#fff; font-size:24px;}
.portfolio-tags{color:#fff;}
.project-image:before{opacity: 0; visibility: hidden; position: absolute; content: ""; height: 100%; width: 100%; bottom: 100%; left: 0; right: 0; z-index: 3; background-image: -webkit-gradient(linear,0 0,0 100%,from(#cc8809),to(transparent)); background-image: -webkit-linear-gradient(transparent,#cc8809); background-image: -moz-linear-gradient(transparent,#cc8809),-moz-linear-gradient(transparent,#cc8809); background-image: -o-linear-gradient(transparent,#cc8809),-o-linear-gradient(transparent,#cc8809);  background-image: linear-gradient(transparent,#cc8809),linear-gradient(transparent,#cc8809); -moz-background-size: 100%; background-size: 100%; background-position: 0 0,100% 0;  background-repeat: no-repeat; -webkit-transition: all .3s ease-out; -moz-transition: all .3s ease-out; -ms-transition: all .3s ease-out; -o-transition: all .3s ease-out; transition: all .3s ease-out;}
.portfolio-service li:hover .builder{top:62% !important;}

.portfolio-overley{display:none;}


.portfolio-overley {z-index: 1000;
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}


.project-image:hover .portfolio-overley {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.porfolio-wrap .content { z-index: 1000;
    position: absolute;
    top:50%;
    left:0;
    margin-top: -40px;
    width:100%;
}
.porfolio-wrap .content h3 a{text-decoration:none; color:#fdc236;}


#counter {text-align:center;
	background:url(../images/counter-bg.jpg) no-repeat top; background-size:cover;
	padding: 50px 0
}
.animatebg {
	background: #0562da;
	-webkit-animation: bannerbg 5s linear 2s infinite alternate; /* Safari 4.0 - 8.0 */
	animation: bannerbg 5s linear 2s infinite alternate;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes bannerbg {
 0% {
background-color:#0562da;
}
 25% {
background-color:#fec107;
}
 50% {
background-color:#c90157;
}
 75% {
background-color:#e63d53;
}
 100% {
background-color:#e63d53;
}
}

@keyframes bannerbg {
 0% {
background-color:#0562da;
}
 25% {
background-color:#fec107;
}
 50% {
background-color:#c90157;
}
 75% {
background-color:#e63d53;
}
 100% {
background-color:#e63d53;
}
}
#counter .counter-number {
	display: block;
	color: #fff;
	font-size: 60px;
	line-height: 60px;
}
#counter span {
	color: #fff;
	font-weight: bold;
}
.counter-icon {
	font-size: 60px;
	margin-bottom: 15px;
	color: #fff;
}

.testimonials-wrap{background:url(../images/testimonial-bg.jpg) no-repeat top; padding:50px 0; background-size:cover; background-attachment:fixed;}
.testimonials-wrap h1{color:#fff;}
.testimonials-wrap h1 span{color:#fff;}
.testimonials-wrap h1:before{background:url(../images/underline-white.png) no-repeat;}
.testimonials li{margin:10px; margin-top:20px;}
.testi-info{background:rgba(65, 80, 165, 0.25); padding:40px 30px 30px 50px; border: 1px solid #484848; position:relative;}
.testi-info p{position:relative; font-size:14px; line-height:24px; font-style:italic; color:#fff;}
.testi-info p:before{content: "\f10d"; font-family: 'FontAwesome'; position:absolute; top:-5px; left:-29px; color:rgba(255, 255, 255, 0.32); font-size:43px; font-style:normal;}
.name{font-size:18px; float:left; color:#fff; margin-top:8px; text-transform:uppercase; font-weight:bold; font-family: 'Poppins', sans-serif;}
.name span{display:block; text-transform:none; font-family: 'Open Sans', sans-serif; font-size:14px; font-weight:normal;}
.client-image img{border-radius:100%; border:2px solid #fff;}
.client-image{float:left; margin-right:15px;}
.test .testi-info{background:#eee;}
.test .client-image img{border: 2px solid #eee;}
.test li{margin:0; margin-top:20px;}
.testimonials-wrap .owl-dots, .testimonials-wrap .owl-nav{display:none;}	



.teamWrp{text-align:center;}
.team_wrap{padding:50px 0;}
.team_wrap h1{margin-bottom:40px;}
.team_wrap p{text-align:center; font-size:14px; line-height:24px; color:#333; margin-bottom:25px;}
.team{display: inline-block; background-color:#fff; margin:0px 0px 30px;}
.team-info h5{margin-bottom:0;}
.team-info{text-align:center; position:relative; padding:16px 15px; background: #efefef;}
.team-info h5 > a{font-size:16px; text-decoration:none; color:#000; display:block; margin:0px 0px 5px; text-transform:uppercase;}
.team-info span{font-size:14px; color:#242424; display:block;}
.team-info ul{border-top:1px solid #cecece; padding:8px 5px 5px 5px; background: #fdc236;}
.team-info ul li{position:relative;}
.team-info ul li a{color:#fff; font-size:18px;}
.team-info h5 > a:hover{color:#222;}
.team:hover .team-image img{transform:scale(1.2) rotate(-6deg); -webkit-transform:scale(1.2) rotate(-6deg); -moz-transform:scale(1.2) rotate(-6deg);	}
.team-image {position: relative; overflow:hidden;}
.team .team-image img{transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out;}
.expert-team{padding-top:0;}
.team-image ul {position: absolute; left: 0; bottom: 0; width: 100%; margin-bottom:0; text-align:center; padding: 15px 0px; background:rgba(40, 66, 205, 0.82); transform: perspective(500px) rotateX(90deg); transition: all .5s; transform-origin: bottom;  height:100%; z-index:1000;}
.team-image ul li {display: inline-block; margin: 0px 2px; margin-top:140px;}
.team-image ul li a {background: #fafafa none repeat scroll 0 0; display: block; height: 30px; line-height: 30px; text-align: center; width: 30px; color: #051429;}
.team-image img {transition: all .5s;}
.team-image ul li a:hover{background:#222; color:#fff;}
.team:hover .team-image ul{transform: perspective(500px) rotateX(0deg);}
.team-image ul li:nth-child(1) a:hover{background:#3b5998 !important; color:#FFF;}
.team-image ul li:nth-child(2) a:hover{background:#55acee !important; color:#FFF;}
.team-image ul li:nth-child(3) a:hover{background:#007ab9 !important; color:#FFF;}
.team-image ul li:nth-child(4) a:hover{background:#dc4e41 !important; color:#FFF;}



.team .team-image:after {
    content: '';
    background: transparent;
    position: absolute;
    border: 1px solid #fff;
    /* z-index: -1; */
    display: block;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    -webkit-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
}

.team:hover .team-image:after {
    border: 1px solid #fff;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    z-index: 1;
    background: transparent;
}


.blog-wrap{padding:60px 0}
.blog-meta ul {margin-bottom: 8px;
    list-style: none;
    overflow: hidden;
}
.blog-details {padding: 20px 30px; border: 1px solid #e8e8e8; min-height: 230px;}
.blog-meta ul li {display:inline-block; padding-right:6px;
    font-size: 14px;
    color: #000;
}
.blog-meta ul li a{text-decoration:none; color:#000;}
.blog-meta ul li i{font-size:16px; padding-right:5px; color:#2842cd;}
.blog-body h3{line-height:24px; margin-bottom: 12px;}
.blog-body h3 a{text-decoration:none;
    font-size: 18px; color:#000;
    font-weight: 600;
    margin: 0.72em 0 0.83em;
}
.blog-body h3 a:hover{color:#2842cd;}
.blog-body p{color: #6a6a6a;}

.blogImg:before, .blogImg:after{bottom: 15px;
    content: "";
    left: 15px;
    position: absolute;
    right: 15px;
    top: 15px;
    -webkit-transition: opacity 0.35s ease 0s, -webkit-transform 0.35s ease 0s;
    transition: opacity 0.35s ease 0s, -webkit-transform 0.35s ease 0s;
    -o-transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
    transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
    transition: opacity 0.35s ease 0s, transform 0.35s ease 0s, -webkit-transform 0.35s ease 0s;
    z-index: 9;
 
  }

  .blogImg:before{ border-bottom: 1px solid;
    border-top: 1px solid;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    border-color: #ffffff;}
    
.blogImg{position: relative;}
.blogWrp:hover .blogImg:before, .blogWrp:hover .blogImg:after{-webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);}

.blogWrp:hover {
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.4);
}

.blogImg:after{border-left: 1px solid;
    border-right: 1px solid;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    border-color: #ffffff;
    transform: scale(1, 0);}


.newsletter {
  background: #2842cd;
  padding: 50px 0;
}
.newsletter h3 {
  margin: 0;
  font-size: 30px;
}
.newsletter h3, .newsletter p {
  color: #fff;
  margin: 0;
}
.newsletter .input-group {
  max-width: 675px;
  margin: 0 auto;
}
.newsletter .input-group:before {
  content: '\f0e0';
  font-family: 'FontAwesome';
  position: absolute;
  left: 20px;
  top: 12px;
  color: #ccc;
  font-size: 24px;
  z-index: 100
}
.newsletter .form-control {
  height: auto;
  padding: 17px 15px 17px 60px;
  font-size: 16px;
  border-radius: 0;
}
.newsletter .btn {
  background: #1691ea;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 16px 30px 17px 30px;
  cursor: pointer;
  border: none;
  color: #fff;
  border-radius: 0;
}



.contact .contact-bottom{
  margin:40px 0;
}
.contact .contact-info {
  text-align: left;
  position: relative;
  padding-left: 100px;
}
.contact .contact-info .icon {
  position: absolute;
  left: 0;
      top: 0;
  
}
.contact .contact-info .icon i {
  width: 70px;
  height: 70px;
  line-height: 70px;
  border: 1px solid #03369a;
  color:#03369a;
  font-size: 25px;
  border-radius: 100%;
  text-align: center;
}
.contact .contact-info h3 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 5px;
}
.contact .contact-info a {
  color: #777;
}
.contact .contact-info p {
  color: #777;
  font-size: 15px; margin: 0;
}

.contact .contact-map #map{
  height:583px;
}
.contact .contact-head {
  overflow: hidden;
}

.contact .form-head .form-group:last-child{
  margin:0;
}
.contact .form-head .form-group input {
  height: 50px;
  width: 100%;
  padding-left: 15px;
  box-shadow: none;
  text-shadow: none;
  border: none;
  border: 1px solid #676767;
  background: none;
  color: #666666;
  font-size: 15px;
}
.contact .form-head .form-group input:hover,
.contact .form-head .form-group textarea:hover{
  padding-left:25px; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease;
}
.contact .form-head .form-group textarea {
  height: 192px;
  width: 100%;
  font-size: 15px;
  padding-left: 15px;
  padding-top: 18px;
  box-shadow: none;
  text-shadow: none;
  border: none;
  border: 1px solid #676767;
  color: #666666;
  background: none;
  resize: none;
}
.contact .form-head .form-group .button{
  margin-top:20px;
}
.contact .form-head .form-group button {
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.contact .form-head .form-group button:before{
  background:#252525;
}
.contact .container-fluid{padding: 0;}
.contact .row{margin: 0;}
.contact .form{padding: 60px; background: #3c3737;}
.contact-head .row .col-lg-6{padding: 0;}
.contact .form-head .form-group button {
    color: #03369a;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.contact .button .btn {
    font-weight: bold;
    text-align: center;
    color: #03369a;
    display: inline-block;
    padding: 13px 32px;
  border-radius:0px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    overflow: hidden;
    position: relative;
    background: #fff;
    border: none;
    box-shadow: none;
    -webkit-transition: all 0.4S ease;
    -moz-transition: all 0.4S ease;
    transition: all 0.4S ease;
}

.contact .button .btn:hover{background: #03369a; color: #fff;}



.footer-wrap{padding:40px 0; background: #eee; text-align: center;}
.copyright{color:#fff; margin-top:10px; color:#1a1a1a; font-size: 14px;}
.social-icons{list-style:none; margin-bottom:0;}
.social-icons li{display:inline-block; padding:0 3px;}
.social-icons li a{text-decoration:none; font-size:16px; width:30px; height:30px; display:block; border:1px solid#4267b2; text-align:center; line-height:30px; color:#4267b2;}
.social-icons li:nth-child(2) a{border:1px solid#2caae0; color:#2caae0;}
.social-icons li:nth-child(3) a{border:1px solid#e04e42; color:#e04e42;}
.social-icons li:nth-child(4) a{border:1px solid#0173b1; color:#0173b1;}
.social-icons li:nth-child(5) a{border:1px solid#f63c27; color:#f63c27;}
.social-icons li:nth-child(1) a:hover{background:#4267b2; color:#fff;}
.social-icons li:nth-child(1) a:hover{background:#4267b2; color:#fff;}
.social-icons li:nth-child(2) a:hover{background:#2caae0; color:#fff;}
.social-icons li:nth-child(3) a:hover{background:#e04e42; color:#fff;}
.social-icons li:nth-child(4) a:hover{background:#0173b1; color:#fff;}
.social-icons li:nth-child(5) a:hover{background:#f63c27; color:#fff;}


.scrollToTop{display:none;}
.page-scroll{position:fixed; bottom:20px; right:20px; z-index:1000;}
.page-scroll a{font-size:18px; color:#fff; background:#2842cd; width:40px; height:40px; text-align:center; line-height:39px; display:inline-block; border:1px solid #fff;}



@media screen and (max-width: 1200px){
.navbar-default .navbar-nav>li>a{font-size:14px;}
.hoverForm{position:static; background:#7d7d7d;}
.sliderForm{float:none; width:auto;}
.formwrap{border:none; background:none;}

.slideForm .formwrap{background: rgba(0, 0, 0, 0.51);}

.header .col-md-3{width:20%;}
.header .col-md-9{width:80%;}
.navbar-default .navbar-nav>li {padding:0px 6px;}

.sticky{height:81px;}

}


@media screen and (max-width: 990px){.navbar-default .navbar-nav>li>a {padding: 18px 2px; font-size: 13px;} 
.header .col-sm-9{padding-left:0;}
.quote-wrap h2{text-align:center; margin-bottom:20px;} 
.about-image{text-align:center; margin-top:30px;}
.serviceList li{margin-bottom:30px;}
.team_wrap{text-align:center;}
.social{margin-bottom:20px;}
.worker-image{text-align:center;}
.contact-form .button{margin-bottom:40px;}
.slider-wrap .readmore{margin-bottom:40px;}
.quote-wrap .quote-btn a{display:inline-block; margin-top:15px;}
.about-wrap h1{margin-top:25px;}
.banner-info{margin:0 !important;}
.videohover{top:0;}
.videoWrp{height: 400px;}
.videoWrp .hero-wrapper{height:400px;}
.header .col-md-3{width:100%;}
.header .col-md-9{width:100%;}
.logo{text-align:center;}
.navbar-default .navbar-nav>li{    padding: 0px 7px;}
.phone a{font-size: 22px;}
.navbar-default .navbar-nav>li:last-child{margin-top: -13px;}
.slider-wrap p{padding:0;}
.quote-wrap{text-align:center;}
.quote-wrap h2:before{left:50%; margin-left:-25px;}
.quote-wrap h2{margin-bottom:42px;}
.quote-wrap .quote-btn{margin-bottom:10px;}
.serviceList li{margin-top:30px;}
.sticky{height:auto;}
.navbar-default .navbar-nav>li{margin-top:0;}
.form-wrap {
    width: 100%;
}
.form-wrap .input-group {
    margin-bottom: 10px;
}
.sbutn {
    border-radius: 0px 0px 0px 0px;
    width: 100%;
}
.form-wrap .input-group .form-control{border-radius: 0;}
.top-menu, .topbar-wrap{text-align: center;}
.top-menu{margin-top: 15px; border-top: 1px solid #3e55d2;}
.navbar{float: none;}
.navbar-brand{display: block;}
.navbar{background: #eee; z-index: 10000;}
.navbar-expand-lg .navbar-nav .nav-link{padding: 10px 16px;}
.navbar-expand-lg .navbar-nav .nav-link:hover{background: #2842cd; color: #fff;}
.navbar-nav li{padding: 0;}
.slider-wrap{padding: 100px 0 80px 0;}
.offer-icon{margin-bottom: 10px;}
.car_Wrp01{text-align: right;}
.offer-icon{display: inline-block;}
.get-bestoffer .offerTxt{padding: 0;}
.tab-contents{border: none;}
.feature-wrap .tabs .col-lg-3{padding-right: 15px;}
.feature-wrap .tabs .col-lg-9{padding-left: 15px;}
.blogImg img{width: 100%;}
.blog-details{min-height: inherit;}
.blogWrp{margin: 15px 0;}
.contact .contact-info{padding: 20px 0; text-align: center;}
.contact .contact-info .icon{position: static; margin-bottom: 10px; }
.videoWrp .sliderTxt{position: static;}
.video .formwrap{position: static;}
.video .formwrap{max-width: inherit;}
.video .slider-wrap{padding: 0;}
.hero-wrapper:before{top: 0;}
.video .formwrap{width:100%;}
.videoWrp .sliderTxt {
    padding-top: 139px;
}
}

@media screen and (max-width: 767px){
.top-text{text-align:center;}
.topbar-links{text-align:center; margin-top:5px;} 
.logo{text-align:center;}
.portfolio-service{text-align:center;}
.team_wrap{text-align:center;}
.navigationwrape{float: none;}
.navbar-default .navbar-nav>li>a{padding:14px 16px;}
.service-image{display:inline-block;}
.about-service li{float:none; width:100%;}
.copyright{text-align:center;}
.foot{text-align:center;}
.dropdown-menu{position:static; float:none; width:100%;}
.sliderTxt p{font-size:18px; line-height:20px;}
.navbar-default{background:#f7f7f7; border: 1px solid #eee; border-top:none;}
.icon-box{margin-top:10px;}
.slider-wrap h2 {font-size: 36px;}
.slider-wrap p {font-size: 14px; line-height:22px;}
.slider-wrap .readmore a{font-size:14px; padding: 12px 24px;}
.staticSlide h2{margin-top:0;}
.videoWrp{height:345px;}
.videoWrp .hero-wrapper{height:345px;}
.navbar-default .navbar-nav>li:last-child{float:left;}
.navbar-collapse{overflow:hidden;}
.navbar-collapse.in{overflow:hidden;}
.navbar-default .navbar-nav>li>a {
    padding: 10px 16px;
}
.social-icons{text-align:center; margin-top:15px;}
.slider-wrap h2 span{font-size: 54px;}
.navbar-default .navbar-nav>li>a:hover{background:#000; color:#fff;}
.phone{margin-left:15px;}	
.banner-info{padding:40px 0;}
.sticky{height:auto;}
.videoWrp .sliderTxt{padding-top: 120px;}
.slidertext2{font-size:42px !important;}
.video .sliderTxt, .video .sliderTxt p, .video .sliderTxt h1{text-align: center;}
.video .sliderTxt h1{font-size: 42px;}
.slidertext3{font-size:13px !important;}
.slidertext3 span{font-size:13px !important;}
.navbar-default .navbar-nav>li{margin-top:0;}
.tab-button-outer {
    position: relative;
    z-index: 2;
    display: block !important;}
.tab-select-outer select{display: none;}
}

@media screen and (max-width:600px){
	.slidertext2{font-size:24px !important;}
	.slidertext3{font-size:10px !important;}
.slidertext3 span{font-size:10px !important;}
	.slidertext4 a{font-size:10px !important;}
}


@media screen and (max-width: 480px){.slider-wrap h2 span{font-size:36px;}
.portfolio-service{text-align:center;}
.sliderTxt h1{font-size:24px;}
.sliderTxt p{font-size:14px;}
.slider-wrap p {font-size: 12px; line-height:18px;}
.slider-wrap h2 {font-size: 24px;}
.slidertext3{font-size:8px !important; margin-top:-15px;}
.slidertext3 span{font-size:8px !important;}
.slidertext4 a{font-size:8px !important;}

}

@media screen and (max-width: 424px){
	.slider-wrap p {font-size: 8px; line-height:14px; margin-top:5px;}
	.slider-wrap h2 {font-size: 18px;}
	
}
